<!-- AppComponent HTML -->

<h1>Atrributed Directives</h1>
<h2>ngClass / ngStyle</h2>

<!-- Example of ngClass -->
<div [ngClass]="{border: false, background: true}"></div>

<!-- Example of using dom -->
<div [class.border]="true"></div>

<!-- Example of ngStyle -->
<div [ngStyle]="{'background-color': 'red'}"></div>

<!-- Custom Directives -->
<hr>
<h2>Custom Attributxe Directive</h2>
<div highlight [highlightColor]="'blue'" [defaultColor]="'red'">Some Text</div>
<hr>

<!-- Structural Directives -->
<h2>Structural Directives</h2>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text: {{switch}}</div>
<div *ngIf="!switch">Conditional Text: {{switch}}</div>
<template [ngIf]="switch">
  <div>
    Condition Text
  </div>
</template>
<button (click)="onSwitch()">Switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
  <li *ngFor="let item of items; let i = index">{{item}} - (Index: {{i}})</li>
</ul>

<!-- ngSwitch, ngWhen isnow ngCase -->
<hr>
<h2>ngSwitch</h2>

<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Default</p>
</div>

<!-- another way of doing it -->
<div [ngSwitch]="value">
  <template [ngSwitchCase]="10">10</template>
  <template [ngSwitchCase]="100">100</template>
  <template *ngSwitchDefault>Default</template>
</div>

<h2>UnlessDirective : {{switch}}</h2>
<div *unless="switch">Conditional Text</div>
